.journey {
    min-height: 60vh;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    h2{text-align: center;}
}
.journey-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    justify-items: center;
    align-content: center;
    padding: 0 40px;
}
.journey-step{
    margin: 60px 0;
    padding: 20px;
    border: 3px solid var(--text-color);
    border-radius: 32px;
    background: var(--lighter-bg);
    box-shadow: 8px 8px 3px -3px rgba(0, 0, 0, 0.6);
    transition: var(--transition);
    &:hover{transform: translateY(-6px);}
}
.funfacts{padding: 120px 0;}
.fact-cards{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.fact-card{
    padding: 20px;
    width: 300px;
    text-align: center;
    border: 6px solid var(--text-color);
    border-radius: 32px;
    background: var(--lighter-bg);
    box-shadow: 8px 8px 3px -3px rgba(0, 0, 0, 0.6);
    transition: var(--transition);
    &:hover{transform: translateY(-6px);}
}
.fact-card img{
    max-width: 180px;
}