.home-projects{
    padding: 60px;
}
.projects-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projects-flex a{
    text-decoration: none;
    font-size: 28px;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    padding: 60px 120px;
}
@media (max-width:1220px){
    .project-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:868px){
    .project-grid{
        grid-template-columns: 1fr;
    }
}
@media (max-width:670px){
    .projects-flex{
        flex-direction: column;
        text-align: center;
    }
    .home-projects{margin-top: 0;}
}