.nav-bar{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}
.nav-bar ul{
    list-style: none;
    li{
        font-size: 32px;
        padding-bottom: 16px;
        a{
            text-decoration: none;
            transition: var(--transition);
            color: var(--background);
            &:hover{color: var(--text-hover);}
        }
    }
}
.burger{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap:8px;
    padding: 32px;
    border-bottom-right-radius: 32px;
    cursor:pointer;
    border:none;
    background:var(--text-color);
}
.burger span{
    width:32px;
    height:2px;
    background:var(--background);
    transition:.35s;
}
.burger.open span:nth-child(1){
    transform: translateY(10px) rotate(45deg);
}

.burger.open span:nth-child(2){
    opacity: 0;
}

.burger.open span:nth-child(3){
    transform: translateY(-10px) rotate(-45deg);
}
.nav-menu{
    display:flex;
    flex-direction:column;
    margin: 2px;
    padding: 28px;
    border-radius: 4px;
    background: var(--text-color);
    opacity:0;
    visibility:hidden;
}
.burger:disabled{
    pointer-events:none;
}

