.nav-bar{
    display: flex;
    flex-direction: column;
    z-index: 9999;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.nav-bar ul{
    list-style: none;
    li{
        font-size: 32px;
        padding-bottom: 16px;
        a{
            text-decoration: none;
            transition: var(--transition);
        }
    }
}