.footer{
    width: 90%;
    min-height: 200px;
    background: var(--text-color);
    padding: 80px 80px 60px;
    border-top-right-radius: 100%;
    text-align: left;
    color: var(--background);
}
.footer-logo{
    font-size: 52px;
    font-weight: 600;
}
.footer a{
    text-decoration: none;
    color: var(--background);
    font-size: 42px;
}
.footer a:hover{color: var(--text-hover);}
.footer ul{
    list-style: none;
    li{
        padding: 6px 12px 0 ;
        a{
            font-size: 18px;
        }
    }
}
@media (max-width:1680px) {
    .footer{
        width: 100%;
    }
}
@media (max-width:1440px){
    .footer{
        border-radius: 0;
        padding: 60px;
    }
    .footer-logo{font-size: 46px;}
    .footer a{font-size: 36px;}
}
@media(max-width:680px){
    .footer{
        padding: 40px;
    }
    .footer-logo{font-size: 42px;}
}