.project-modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    z-index: 9999;
}
.project-modal {
    width: 1340px;
    max-height: 90vh;
    overflow-y: auto;
    background: white;
    border-radius: 20px;
    padding: 26px;
    position: relative;
    margin: 0 40px;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
}
.modal-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px 0;
    gap: 60px;
}
.modal-list-l,
.modal-list-r {
    h3{padding-bottom: 6px;}
    ul{list-style: none;}
}
.modal-list-r ul{
    display: flex;
    gap: 6px;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 120px;
}
.project-modal img{
    max-height: 380px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}
.project-modal a{
    font-size: 24px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 12px;
}
@media (max-width:1660px){
    .project-modal img{max-height: 320px;}
}
@media (max-width:1068px){
    .project-modal{padding: 32px;}
    .modal-grid{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}
@media(max-width:870px){
    .project-modal img{width: 80%;}
}